<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_post.description %>
</p>

<%= link_to 'Edit', edit_work_post_path(@work_post) %> |
<%= link_to 'Back', work_posts_path %>
